# Newsgroups

In order to practice and learn to work with text data, let's use the 20 Newsgroups archive.

Things we're going to do:
- get the data
- work with some feature extraction
- develop a model that can classify the Newsgroups

In [24]:
## import essentials and anticipated packages

import numpy as np
import pandas as pd
import re

from sklearn.datasets import fetch_20newsgroups

from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.feature_extraction.text import TfidfTransformer,TfidfVectorizer, CountVectorizer


from sklearn.naive_bayes import MultinomialNB

In [7]:
train = fetch_20newsgroups(remove=('headers', 'footers', 'quotes'),subset='train')

In [18]:
## Let's look at some stuff.fetch_20newsgroups

print(train.data[7][:100]) ##this is such a newsgroup discussion about comptuers
y_train = pd.Series(train.target) 
print(y_train.value_counts())
print(y_train.value_counts()/y_train.value_counts().mean())#not particularly skew
X_train = pd.DataFrame(train.data)

ALL this shows is that YOU do
10    600
15    599
8     598
9     597
11    595
13    594
7     594
14    593
5     593
12    591
2     591
3     590
6     585
1     584
4     578
17    564
16    546
0     480
18    465
19    377
dtype: int64
10    1.060633
15    1.058865
8     1.057097
9     1.055330
11    1.051794
13    1.050027
7     1.050027
14    1.048259
5     1.048259
12    1.044723
2     1.044723
3     1.042956
6     1.034117
1     1.032349
4     1.021743
17    0.996995
16    0.965176
0     0.848506
18    0.821990
19    0.666431
dtype: float64

In [ ]:
##A dictionary of the topics for ease of reference.

train.target_names
target_names_dict = { i : train.target_names[i] for i in range(0,20)}
target_names_dict

In [46]:
X_train.rename({0:'text'}, axis=1, inplace=True)
X_train['text length'] = X_train['text'].apply(lambda x: len(x))
numeric_expression = '[\d]{1,3},[\d]+'##digits, optional commas, optional decimal (one)
print(re.findall(numeric_expression,'1 12 4000000 4,000 3.14159'))
X_train['numeric expression count'] = X_train['text'].apply(lambda x: len(re.findall('expression',x)))

['4,000']

In [26]:
X_train

,text,text length,numeric expression count
0,I was wondering if anyone out there could enli...,475,0
1,A fair number of brave souls who upgraded thei...,530,0
2,"well folks, my mac plus finally gave up the gh...",1659,0
3,\nDo you have Weitek's address/phone number? ...,95,0
4,"From article <C5owCB.n3p@world.std.com>, by to...",448,0
...,...,...,...
11309,DN> From: nyeda@cnsvax.uwec.edu (David Nye)\nD...,1782,0
11310,"I have a (very old) Mac 512k and a Mac Plus, b...",674,0
11311,I just installed a DX2-66 CPU in a clone mothe...,581,0
11312,\nWouldn't this require a hyper-sphere. In 3-...,311,0
11313,Stolen from Pasadena between 4:30 and 6:30 pm ...,321,0